
target
node_modules
.dockerignore
Dockerfile
.git
Cargo.lock

# IDEやエディタの設定ファイルを無視
.vscode/
.idea/
*.iml

# ソース管理に必要のないディレクトリとファイル
**/tmp/
**/logs/
**/build/
**/cache/
**/dist/

# その他の一時ファイル
*.log
*.tmp
*.bak
*.swp
*.swp~
*~
